$redes: ( 
       twitter: #55aCee, 
       facebook:#3a5795,
       instagram:#C25E30,
);
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

/*Extend*/
.redSocial{
    border:2px solid red;
    background-color: gold;
}

.redsocial--social{
    @extend .redSocial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    border-radius: 5px;
}
.redsocial--nueva{
    @extend .redSocial;
    font-size: 30px;
    color:green;
    border:3px dashed blue;
}

/*mixin*/
@mixin sizes ($height, $width){
    height: $height;
    width: $width;
}

.my_mixin{
    @include sizes (500px,50px);
    background-color: lightcoral;
}